p {
  line-height: 100% !important;
}


/**************************STICKY FOOTER**************************/

html {
  position: relative !important;
  min-height: 100% !important;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px !important;
  background-image: url('http://i.imgur.com/EY8RiRC.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 60px !important;
  background-color: #f5f5f5 !important;
}

  


/************************** FROM TWITTER **************************/
blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin-top: 10px 0;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}
blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}
blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}
/************************** TRUCK ITEM **************************/
.truck-item, .event-item {
  background-color: #e7e9eb !important;
  margin-left: 5%;
  width: 90% !important;
  vertical-align: middle;
  max-height: 190px;
  overflow: hidden !important;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75) !important;
  border: 1px solid black !important;

}
.truck-item-yelp-review {
  padding-left: 35px !important;
  padding-right: 15px;
  border-right: 5px solid black;
  margin-right: px !important;
  color: black;
}
.truck-item-avatar, .event-item-avatar {
  height: 135px !important;
  width: 135px !important;
  margin-left: 0px;
  border-radius: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: -15px; 
  border: 1px solid black;
  box-shadow: 11px 11px 12px 0px rgba(0,0,0,0.75);
}
.truck-item:hover {
  background-color: #85b4e3 !important;
}
.truck-item-data, .event-item-data {
  padding-left: 15px;
}
.truck-item-yelp-score {
  width: 120px;
  height: auto;
  float: right ;
}
.truck-item-title, .event-item-title {
  margin-top: 0px !important;
  font-size: 1.8em !important;
}
.truck-item-description, .event-item-description {
  margin-left: 60px !important;
  margin-bottom: 15px;
  font-size: 1.15em;
}


/************************** HOVER CSS   **************************/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.01);
}

.container {
  width: 80% !important;
  max-width: 100% !important;
}
.cuisine {
  margin-bottom: 0px;
}
.food-image{
  width: 300px;
  height: 300px;
  margin: 30px;
  border-radius: 5px;
}
.google-map-container {
  height: 770px;
  margin-bottom: 30px;
  padding: 0px !important;
  /*box-shadow: inset 4px 4px 1px 0px rgba(0,0,0,0.75) !important;*/
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.google-map{
  height: 100%;
  width: 100%
}
.tweet {
  margin-left: auto;
  margin-right: auto;
}

.truck-list, .event-list {
  overflow: scroll;
  padding: 0px !important;
  padding-top: 25px !important;
  box-shadow: inset 4px 4px 1px 0px rgba(0,0,0,0.75)!important;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  height: 770px;
  background-color: #a0a1a2 !important;
}

.page-title{
  width: 400px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.home-logo {
  height: 35px;
  width: 35px;
  float: left;
  margin-top: 10px;
}
.home-text {
  margin-top: 25px;
}
.github {
  margin-top: 25px !important;
}
.nav-bar {
  margin-left: 50px;
  margin-right: 50px;
  max-height: 110px !important;
}
.header {
    background-color: rgba(255,255,255,0.5) !important;
}

.burrito {
  height: 40px;
  width: 40px;
}

.title {
  padding-left: 110px !important;
}
.jumbotron {
  height: 70px !important;
  align-items: center !important;
  padding-bottom: 0px !important;
  padding-top: 5px !important;
}
.site-header {
  height: 70px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  background-color: #222228 !important;
  margin-bottom: 30px !important;
  color: white;
}

.truck-name{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.truck-profile-img{
  width: 100%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  background-repeat: no-repeat; 
  background-size: cover;
}
.truck-profile-img-container {
  height: 500px;
  background-color: #F5F7F9;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.truck-profile{
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  text-align: center;
  height: 560px;
  background-color: #16214d;
}

.test{
  border: 1px solid black;
  border-radius: 5px;
}
.truck-view{
  margin-top: 30px
}

.TruckTweet{
  font-family: Helvetica, Arial, sans-serif;
}

.truck-description{
  height: 110px !important;
}
.twitter-box {
  float: right;
  height: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
}

.twitter-box-header > h5 {
  margin-left: 15px;
}
.tweet {
  height: 90px;
  margin: 10px;
  background-color: #F5F7F9;
}
.tweet > p {
  margin-left: 15px;
}
.twitter-box-header{
  background-color: #F5F7F9;
  width: 100%;
  margin-left: 0px;
}

.mega-container {
  overflow: auto;
  height: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .mega-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .mega-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .mega-container {
    width: 96%;
  }
}
.footer {
  padding-top: 15px;
  padding-left: 25px;
  background-color: #222228 !important;
  color: white;
} 