.test {
  background-color: grey;
  border: 1px solid black;
}
/*  ---------------------------------------------------
                   ======= HOME PAGE ========
-------------------------------------------------------*/

.container {
  width: 80% !important;
  max-width: 100% !important;
}
.container-well {
  display: inline-block;
  box-shadow: inset 4px 4px 1px 0px rgba(0,0,0,0.75) !important;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: rgba(231,233,235,0.50) !important;
}
.google-map-container {
  padding-top: 3px !important;
  padding-left: 3px !important;
  padding-right: 1px !important;
  padding-bottom: 1px !important;
  height: 77vh !important;
}
.google-map{
  height: 100%;
  width: 100%
}
.mega-container {
  overflow: auto;
  height: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.truck-list {
  height: 77vh !important;
  overflow: scroll;
}

/*  ---------------------------------------------------
               ======= HEADER & FOOTER ========
-------------------------------------------------------*/

.footer {
  padding-top: 15px;
  padding-left: 25px;
  background-color: rgba(0,0,0, 0.5) !important;
  color: white;
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 60px !important;
}
.header {
    background-color: rgba(0,0,0, 0.5) !important;
    margin-bottom: 20px;
    height: 80px;
    color: white;
}
/*.overlay-title{
  position: relative;
}
.overlay-title h1 {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 10%;
  color: white;
}*/
.hungerstop-logo {
  height: 70px;
  width: 90px;
  margin-left: 15px;
  margin-right: 15px;
}
.title h1 {
  color: white;
  margin-top: 10px;
}

.nav-bar {
  margin-left: 50px;
  margin-right: 50px;
  max-height: 110px !important;
}
.nav-btn {
  height: 35px;
  width: 35px;
  margin-top: 11px;
}
.nav-btn-text {
  margin-top: 5px;
  color: white;
}
.truck-logo{
  margin-left: 20px;
}

/*  ---------------------------------------------------
               ======= ADD TRUCK FORM ========
-------------------------------------------------------*/
.form-schedule{
  margin-left: 15%;
}
.rrm-title {
  height: 0px !important;
}
.rrm-title h2{
  height: 0px !important;
}
.error-msg  {
  color: red;
}

/*  ---------------------------------------------------
               ======= STICKY FOOTER ========
-------------------------------------------------------*/

#app {
  height: 100%;
}
body {
  margin-bottom: 60px !important;
  background-image: url('http://i.imgur.com/EY8RiRC.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.body-truck-view{
  background-image:url('http://imgur.com/2nSvMTP.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
}
html {
  position: relative !important;
  min-height: 100% !important;
}
p {
  line-height: 100% !important;
}

/*  ---------------------------------------------------
               ======= PRETTY TWEET ========
-------------------------------------------------------*/

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin-top: 10px 0;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}
blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}
blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

/*  ---------------------------------------------------
          ======= TRUCK PROFILE/MODAL ========
-------------------------------------------------------*/
.truck-modal-body {
 border-radius: 5px;
 background-image:url('http://imgur.com/2nSvMTP.jpg') !important;
 background-repeat: no-repeat;
 background-size: cover;
 }
.cuisine-list {
  list-style-type: none;
}
li {
    display:inline;
    margin-left: 10px;
}
.mini-google-map { 
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background-color: grey;
  float: right;
  display: inline-block;
}
.truck-profile-img-container {
  padding: 10px;
  overflow: hidden;
  box-shadow: inset 4px 4px 1px 0px rgba(0,0,0,0.75) !important;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: rgba(231,233,235,0.50) !important;
  height: 35vh !important;
  width: 50% !important;
  margin-right:  auto;
  margin-left:  auto;
}
.google-image {
  height: 250px;
  width: 400px;
  border-radius: 5px;
}

.truck-profile {
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  text-align: center;
  height: 560px;
  background-color: #16214d;
}
.truck-profile-yelp-review {
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px; 
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: rgba(255,255,255,0.75) !important;
}
.truck-view-tweet-container {
 margin-top: 40px;
 display: inline-block;
}
.truck-view{
  margin-top: 30px
}
.truck-view-info-item{
  display: inline-block;
}
.truck-view-main-info{
  display: inline-block;
  margin-left: 20px;
  width: 500px;
  padding: 20px;
  background-color: rgba(255,255,255,0.75) !important;
}
.truck-view-info {
  margin-bottom: 15px;
  padding-top: 20px;
  margin-left: 2% !important;  
  margin-right: 2% !important
}
.truck-view-secondary-info p {
  font-size: 1.3em;
}
.truck-view-secondary-info .subinfo-1 {
display: inline-block;
float: left;
margin-right: 20;
max-width: 60%;
}
.truck-view-secondary-info .subinfo-2 {
display: inline-block;
text-align: right;
float: right;
}

.truck-view-yelp-score {
  margin-bottom: 10px;
}

.truck-view-title {
  color: black;
  margin-top: 0px;
}
.truck-view-profile-img{
  height: 200px;
  width: 200px;
  background-color: grey;
  float: left;
}

/*  ---------------------------------------------------
               ======= TRUCK LIST ITEM ========
-------------------------------------------------------*/

.event-item .truck-item{
  background-color: #81CBD3 !important;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.01);
}
.truck-item {
  background-color: #e7e9eb;
  margin-left: 5%;
  width: 90% !important;
  vertical-align: middle;
  max-height: 190px;
  overflow: hidden !important;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75) !important;
  border: 1px solid black !important;
  position: relative !important;
}

.truck-item-yelp-review {
  padding-left: 35px !important;
  padding-right: 15px;
  border-right: 5px solid black;
  margin-right: px !important;
  color: black;
}
.truck-item-avatar{
  height: 135px !important;
  width: 135px !important;
  margin-left: 0px;
  border-radius: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: -15px;
  border: 1px solid black;
  box-shadow: 11px 11px 12px 0px rgba(0,0,0,0.75);
}
.truck-item:hover {
  background-color: #85b4e3 !important;
  cursor:pointer;
}
.truck-item-data {
  padding-left: 15px;
}
.truck-item-yelp-score {
  width: 120px;
  height: auto;
  float: right ;
}
.truck-item-title {
  margin-top: 0px !important;
  font-size: 1.8em !important;
}
.truck-item-description{
  margin-left: 60px !important;
  margin-bottom: 15px;
  font-size: 1.15em;
  color: black;
  font-style: italic;
}
.selected {
  display: table-header-group;
}
.not-selected{
  display: table-row-group;
}
.selected .truck-item {
  background-color: #85b4e3 !important;
}

/*  ---------------------------------------------------
                  ======= EVENT PAGE ========
-------------------------------------------------------*/

.event-view-photos {
  height: 30vh;
  margin-bottom: 100px;
}
.event-view-truck-list {
  height: 100%;
  overflow: scroll;
}
.event-view-info{
  margin-bottom: 25px;
}
#event-view-title{
  width: 300px;
}
.event-view-truck-list-container{
  height: 62vh !important;
  display: inline-block;
  float: right !important;
  box-shadow: inset 4px 4px 1px 0px rgba(0,0,0,0.75) !important;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: rgba(231,233,235,0.50) !important;
}
.event-view-address-box { 
  border: 1px solid black;
  height: 150px;
  width: 150px;
  background-color: grey;
  float: right;
  display: inline-block;
}
.event-view-secondary-info{
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
}
.event-view-google-image {
  height: 300px;
  width: 400px;
  border-radius: 5px;
}
.event-view-tweet-container {
  margin-left:5%;
}
/*  ---------------------------------------------------
                  ======= MEDIA WITDTHS ========
-------------------------------------------------------*/

@media (min-width: 768px) {
  .mega-container {
    width: 750px;
  }
  .google-map-container{
    width: 90vw;
  }
}
@media (min-width: 885px){
  .truck-profile-img-container{
    width: 30vw;
  }
  .twitter-box{
    width: 45vw;
  }
}
@media (min-width: 975px) {
  .mega-container {
    width: 95vw;
  }
  .google-map-container {
      width: 40vw;
    }
    .truck-list{
      width: 50vw;
      float: right;
    }
    .truck-item-yelp-review{
      display: none;
    }
}
@media (min-width: 1200px) {
  .mega-container {
    width: 96%;
  }
  .truck-item-yelp-review{
      display: block;
    }
  .truck-profile-img-container{
    width: 30vw;
  }
  .twitter-box{
    width: 45vw;
  }
  .google-map-container{
    width: 40vw;
  }
  .truck-list{
    width: 53vw;
    float: right;
  }
}

/*  ---------------------------------------------------
                      ======= SEARCH BAR ========
-------------------------------------------------------*/

.search-bar {
  margin-bottom: 10px;
  float: right;
  margin-right: 15px;
  width: 70%;
  background-color: transparent;
  color: white;
  font-weight: bold;
  text-indent: 5px;
  margin-top: 20px;
}
        ::-webkit-input-placeholder { /* Chrome */
          color: white;
          transition: opacity 250ms ease-in-out;
        }
        :focus::-webkit-input-placeholder {
          opacity: 0.5;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: white;
          transition: opacity 250ms ease-in-out;
        }
        :focus:-ms-input-placeholder {
          opacity: 0.5;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: white;
          opacity: 1;
          transition: opacity 250ms ease-in-out;
        }
        :focus::-moz-placeholder {
          opacity: 0.5;
        }
        :-moz-placeholder { /* Firefox 4 - 18 */
          color: white;
          opacity: 1;
          transition: opacity 250ms ease-in-out;
        }
        :focus:-moz-placeholder {
          opacity: 0.5;
        }
